<div [class.dark-theme]="darkTheme" id="weather-container">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Weather App</span>
      <span class="example-spacer"></span>
      <mat-form-field class="city-selector">
        <mat-select
          [(value)]="selectedCityId"
          (selectionChange)="getWeatherByCityId($event.value)"
        >
          <mat-option *ngFor="let city of cities" [value]="city.id">
            {{ city.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-card *ngIf="weatherByCity" class="weather-card">
    <mat-card-content>
      <div class="weather-card-container">
        <div class="box box-1">
          <mat-list style="width:100%">
            <mat-list-item class="weather-item"
              >Wind - {{ weatherByCity.wind.speed }} m/s -
              {{ weatherByCity.wind.deg }}°
            </mat-list-item>
            <mat-list-item class="weather-item"
              >Cloudiness -
              {{ weatherByCity.weather[0].description | titlecase }}
            </mat-list-item>
            <mat-list-item class="weather-item"
              >Pressure - {{ weatherByCity.main.pressure }} hpa
            </mat-list-item>
            <mat-list-item class="weather-item"
              >Humidity - {{ weatherByCity.main.humidity }}%
            </mat-list-item>
            <mat-list-item class="weather-item"
              >Sunrise - {{ weatherByCity.sys.sunrise | date: "hh:mm" }}
            </mat-list-item>
            <mat-list-item class="weather-item"
              >Sunset - {{ weatherByCity.sys.sunset | date: "hh:mm" }}
            </mat-list-item>
            <mat-list-item class="weather-item">
              Geo Coordinates - [{{ weatherByCity.coord.lat }},
              {{ weatherByCity.coord.lon }}]
            </mat-list-item>
          </mat-list>
        </div>
        <div class="box box-2 right-container">
          <div class="rc rc-1">
            <div class="title">{{ this.selectedCity.name }}</div>
            <span class="title-bars"></span>
          </div>
          <div class="rc rc-2">
            <div class="desc">
              <img
                src="http://openweathermap.org/img/wn/{{
                  weatherByCity.weather[0].icon
                }}@2x.png"
                class="cloud-img"
              />
              <span class="temperature">
                {{ ftoCelsius(weatherByCity.main.temp) }}°C
              </span>

              <span class="date-time">
                {{ weatherByCity.dt * 1000 | date: "MMM d, y, h:mm a" }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<button (click)="switchTheme()">Switch</button>
