// Material helper functions
@import "~@angular/material/theming";

// Material css variables
@include mat-core();

// Applied by default
$default-primary: mat-palette($mat-blue, 900);
$default-accent: mat-palette($mat-pink, A200, A100, A400);
$default-warn: mat-palette($mat-yellow, A200, A100, A400);
$default-theme: mat-light-theme(
  $default-primary,
  $default-accent,
  $default-warn
);

@include angular-material-theme($default-theme);

// Will be applied by adding the .dark-theme class on the DOM
$dark-primary: mat-palette($mat-gray, 900);
$dark-accent: mat-palette($mat-amber, A200, A100, A400);
$dark-warn: mat-palette($mat-deep-orange);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

.dark-theme {
  @include angular-material-theme($dark-theme);
}
